body {
  background: black;
  color: #00ff00;
  font-family: monospace;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background: black;
  border: 1px solid #00ff00;
  color: #00ff00;
  border-radius: 6px;
}

#mobile-controls button, #mobile-teleport {
  font-size: 24px;
  border: 2px solid #00ff00;
  background: transparent;
  color: #00ff00;
  margin: 5px;
}
